body {
  background-color: #F4FCD9;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 3%;
}

h1 {
  color: #247881;
}

h3 {
  color: #95D1CC;
}
